* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo dos icones de link: */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  background-color: #dadde1;
}

.campo-de-tarefas {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilo padrão do card primário "minhas tarefas": */

.card-minhas-tarefas {
  border: transparent;
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  font-family: monospace;
}

.card-minhas-tarefas-head {

}

.card-minhas-tarefas-head-titulo {
;
}

.card-minhas-tarefas-campo{

}

.card-minhas-tarefas-campo-left {

}

.card-minhas-tarefas-campo-left-container {

}

.card-minhas-tarefas-campo-left-container-link {
text-decoration: none;
}

/* Estilos do campo do lado direito: */

.card-minhas-tarefas-campo-right {

}

.card-minhas-tarefas-campo-right-container {

}

.card-minhas-tarefas-campo-right-container-link {
    
}